engine/shaders/.glslang/
docs/
.mettleplay/
.claude/
src/
tests/*.exe
sword-of-artorias/
sword-of-artorias.zip
lua-5.5.0/
lua-5.5.0.zip
lua-5.5.0_Win64_bin.zip
lua-5.5.0_Win64_bin/
lua-5.5.0.tar.gz
*.obj
*.o
*.s
*.dll
*.mproj
*.log